<section>
  <div class="home-section">
    <div class="author-collection">
      <img
        src="https://i.ibb.co/sQkYD6V/4819837-HSC00001-7.jpg"
        class="home-img"
      />
      <p>
        "The fact is that Spinoza is made a testing-point in <br />
        modern philosophy, so that it may really be said: <br />
        You are either a Spinozist or not a philosopher at all"
      </p>
      <h4>-Hegel on Spinoza</h4>
    </div>
    <div>
      <h2>About Us</h2>
      <p class="about-us-p">
        This is an online book shop that sells a variety of book genres.<br />
        We make it our priority to serve our customers in meeting their
        needs.<br />
        You're looking for a book that you can't seem to discover?<br />You've
        arrived to the right place. We've got tons of books where you can't
        count!<br />
        Take a quick look, will you?
      </p>
      <button mat-button routerLink="/aboutus">About Us</button>
    </div>
  </div>
</section>

<section>
  <div class="home-section">
    <div>
      <h2>Store</h2>
      <p class="about-us-p">
        Would like to explore new minds?<br />
        Hit the store button, and you shoot your vision towards <br />
        numerous mindset who will utterly change your life<br />
        You're looking for a book that you can't seem to discover?<br />You've
        landed yourself on the right place.<br />
        Take a quick look, will you?
      </p>
      <button mat-button routerLink="/books">Books</button>
    </div>
    <div class="author-collection">
      <img
        src="https://i.ibb.co/W6t3DWX/Abraham-Janssens-Heraclitus.jpg"
        class="home-img"
      />
      <p>
        "I have a great tederness for the latter <br />
        philosopher [Heraclitus], and of <br />
        the ancients I only prefer Aristotle more"
      </p>
      <h4>-Karl Marx on Heraclitus</h4>
    </div>
  </div>
</section>

<section>
  <div class="home-section">
    <div class="author-collection">
      <img
        src="https://i.ibb.co/FWhj7PR/Dostoevsky-1872.jpg"
        class="home-img"
      />
      <p class="dostoevsky-paragraph">
        “The only person who has ever taught me anything about psychology”
      </p>
      <h4>-Nietzsche on Dostoevsky</h4>
    </div>
    <div>
      <div>
        <mat-tab-group>
          <mat-tab label="Contact us">
            <div class="content">
              <img
                src="https://i.ibb.co/883mQ8G/how-to-write-a-letter-removebg-preview.png"
                alt=""
              />
              <p>
                If you need any help, you can message us! We will be responding
                to you as soon as possible! Do not be shy as we are looking
                forward to helping our customers!
              </p>
              <ul>
                <li>You can send us a message</li>
                <li>You can email us</li>
                <li>You can contact our customer service</li>
              </ul>
            </div>
          </mat-tab>
          <mat-tab label="Books">
            <div class="content">
              <img
                src="https://i.ibb.co/WGKYs1z/1a2q-P9y-Boc9-G19569r-M88-CQ-removebg-preview.png"
                alt=""
              />
              <p>
                You can throw your vision to our book list! It contains numerous
                books with different genres. What are you waiting for?
              </p>
              <ul>
                <li>
                  If you are a student and looking for a specific book in order
                  to fulfill your research? We have got your back
                </li>
                <li>We have got numerous books</li>
                <li>You can contact us</li>
              </ul>
            </div>
          </mat-tab>
          <mat-tab label="Create">
            <div class="content">
              <p>
                You can add a new book to our book list. It can be easily done!
              </p>
              <ul>
                <li>You can do it easily</li>
                <li>You can als check them in the book-list</li>
                <li>You can enjoy doing this</li>
              </ul>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</section>
