<mat-card>
  <h2>Add Book</h2>
  <form [formGroup]="form" (submit)="onAddBook()">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        placeholder="Title"
        formControlName="title"
      />
      <mat-error *ngIf="form.get('title')?.invalid"
        >Please fill this field</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        name="author"
        placeholder="Author"
        formControlName="author"
      />
      <mat-error *ngIf="form.get('author')?.invalid"
        >Please fill this field</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        name="price"
        placeholder="Price"
        formControlName="price"
      />
      <mat-error *ngIf="form.get('price')?.invalid"
        >Please fill this field</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        name="description"
        placeholder="Description"
        formControlName="description"
      />
      <mat-error *ngIf="form.get('description')?.invalid"
        >Please fill this field</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        name="img"
        placeholder="Image"
        formControlName="img"
      />
      <mat-error *ngIf="form.get('img')?.invalid"
        >Please fill this field</mat-error
      >
    </mat-form-field>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
      <img [src]="imagePreview" [alt]="form.value.title" />
    </div>
    <div>
      <button
        mat-button
        color="warn"
        class="previewButton"
        (click)="onPreviewImage()"
        type="button"
      >
        Preview Image
      </button>
    </div>
    <button mat-button class="submit-button" color="primary" type="submit">
      Send
    </button>
  </form></mat-card
>
